# Monte Carlo input
n_draws     1e6     # Total number of draws
t_gal       8500    # Galaxy age in Myr
delt0       30      # Starting value of delta in Myr
deltlast    100     # Final value of delta in Myr
step	    2       # Step of the delta calculation in Myr
tau_monte   0       # Should we use Monte Carlo at all? Supported: 1 (on), 0 (off)

# ---------------------------------------

# Isotopes input
n_isotopes   2      # How many isotopes to plot

# Isotope-1 values
avg_ESS_1   6.6e-5  # ESS average
std_ESS_1   0.2e-5  # Standard deviation
avg_tau_1   9.4     # Average of tau in Myr
std_tau_1   0.4324  # Standard deviation of tau in Myr
ref_1       stable  # Reference isotope. Supported: stable, u235
label_1     $^{107}$Pd/$^{108}$Pd  # Label for plot line

# Isotope-2 values
avg_ESS_2   1.02e-4	# Hf ESS average
std_ESS_2   0.02e-4 # Hf standard deviation
avg_tau_2   12.8    # Average of tau in Myr
std_tau_2   0.128  	# Standard deviation of tau in Myr
ref_2       stable  # Reference isotope. Supported: stable, u235
label_2     $^{182}$Hf/$^{180}$Hf  # Label for plot line

# ---------------------------------------

# Plots input
n_plots     3         # How many plots to make
font_size   16.5      # Font size
xlabel      Recurrence time between $s$-process events [Myr]
ylabel      Time $\Delta t_\mathrm{LE}$ since the last $s$-process event [Myr]

# Plot-1 values
kk_1_1        5.7     # Upper value of GCE K. All three values of K can be identical
kk_1_2        5.7     # Middle value of GCE K
kk_1_3	      5.7     # Lower value of GCE K
pr_1_1        0.14    # Production value for first isotope
pr_1_2        0.07    # Production value for second isotope
label_ann_1   K=5.7  M=2.1 M$_\odot$  Z=0.007 # Annotation in panel

# Plot-2 values
kk_2_1        1.6     # Upper value of GCE K
kk_2_2        1.6     # Middle value of GCE K
kk_2_3	      1.6	  # Lower value of GCE K
pr_2_1        0.14    # Production value for first isotope
pr_2_2        0.12    # Production value for second isotope
label_ann_2   K=1.6  M=3.0 M$_\odot$  Z=0.014 # Annotation in panel

# Plot-3 values
kk_3_1        2.3     # Upper value of GCE K
kk_3_2        2.3     # Middle value of GCE K
kk_3_3		  2.3	  # Lower value of GCE K
pr_3_1        0.13    # Production value for first isotope
pr_3_2        0.08    # Production value for second isotope
label_ann_3   K=2.3  M=3.5 M$_\odot$  Z=0.03 # Annotation in panel
